mq-CallToAction
  // State: Inside a panel
  [class*="panel"] > &
     > h2
       margin-top: 0;
  [&~="bar"]
    background-image: -webkit-linear-gradient(hsl(0,0%, 45%) 0%, hsl(0,0%, 13%) 4%, hsl(0,0%, 17%) 51%, hsl(0,0%, 19%) 98%, hsl(0,0%, 4%) 100%);
    height 130px
    padding-top 20px
    [mq-CallToAction-Headline]
      color #d07B95
      font-size 41px
      margin-top 0px
    [mq-CallToAction-Message]
      color white
      font-size 21px
      font-weight 100
      font-family 'Lato'
      margin-top -10px
    [mq-uibutton]
      width 180px
      height 70pxpx
