mq-CallToAction
  // State: Inside a panel
  [class*="panel"] > &
     > h2
       margin-top: 0;
  [&~="bar"]
    // background-image -webkit-linear-gradient(hsl(255, 8%, 22%) 0%, hsl(255, 25%, 14%) 4%, hsl(261, 27%, 11%) 55%, hsl(255, 27%, 11%) 94%, hsl(255, 21%, 5%) 100%)
    background-color hsl(277, 23%, 8%)
    height 130px
    padding-top 20px
    [mq-CallToAction-Headline]
      color #d07B95
      font-size 41px
      margin-top 0px
    [mq-CallToAction-Message]
      color white
      font-size 21px
      font-weight 100
      font-family 'Lato'
      margin-top -10px
    [mq-uibutton]
      width 180px
      height 70pxpx
